.post-container .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.post-container .back-button {
    margin-right: 10px;
    font-size: 1.5em;
}

.post-container .no-post-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.post-container .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-container button.save-button,
.post-container button.cancel-button,
.post-container button.edit-button,
.post-container button.delete-button {
    margin-left: 10px;
}

.post-container input[type="text"],
.post-container textarea {
    font: inherit;
}

.post-container textarea {
    width: 100%;
    height: 100px;
}

.post-container .post-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.post-container label.image-url {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.post-container input.image-url {
    flex: 1;
    margin-left: 5px;
}

.post-container .post-content {
    text-align: center;
}

.post-container .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-container .post-date {
    font-size: 0.8em;
    color: #828282;
}

.post-container .upvote-count {
    display: inline;
}

.post-container .upvote-button {
    margin-left: 15px;
}

.post-container .comments-header {
    display: flex;
    align-items: center;
}

.post-container .comments-header .delimiter {
    margin-inline: 5px;
}
