.feed-container .filters-container {
    display: flex;
}

.feed-container .search-bar {
    flex: 1;
    padding: 5px 10px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    font: inherit;
}

.feed-container .filters-container button {
    margin-left: 10px;
}

.feed-container .posts-list {
    padding: 0;
}

.feed-container .post-list-item-container {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
    padding: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.feed-container .post-list-item-container:hover {
    box-shadow: 0 0 5px var(--accent-color);
}

.feed-container .post-list-item {
    display: flex;
    justify-content: space-between;
}

.feed-container .post-title,
.feed-container .upvote-count,
.feed-container .post-date {
    margin: 0;
}

.feed-container .post-title,
.feed-container .upvote-count {
    color: #222222;
}

.feed-container .post-date {
    font-size: 12px;
    color: #999;
}

.feed-container .no-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
}
